@model IEnumerable<Nurse>


<h1>
   Nurse 
</h1>

<form method="get" action="" >
  <label for="minAge">Minimum age:</label>
  <input type="number" id="minAge" name="younger_than" required max= "100" required min = "18">

  <label for="maxAge">Maximum age:</label>
  <input type="number" id="maxAge" name="older_than" required max= "100" required min="18">

  <button type="submit">Submit</button>
</form>

<form method="get" action="" >
  <label for="minSalary">Minimum Salary:</label>
  <input type="number" id="minSalary" name="salary_min" required max= "1000000" required min = "10000">

  <label for="maxSalary">Maximum salary:</label>
  <input type="number" id="maxSalary" name="salary_max" required max= "1000000" required min="10000">

  <button type="submit">Submit</button>
</form>

</style>
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var nurs in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Nurse" asp-action="Detail" asp-route-id="@nurs.Id"> @nurs.FirstName</a> 
                        <td>@nurs.LastName</td>
                        <td>@nurs.Age</td>
                        <td>@nurs.Salary €</td>
                    </td>
                </tr>
            }
        </tbody>
    </table>


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
