@model IEnumerable<Doctor>


<h1>
    Doctors
</h1>


<form method="get" action="" >
  <label for="minAge">Minimum age:</label>
  <input type="number" id="minAge" name="older_than" required max= "@ViewBag.MaxAge" min = "@ViewBag.MinAge" />
  <label for="maxAge">Maximum age:</label>
  <input type="number" id="maxAge" name="younger_than" required max= "@ViewBag.MaxAge" min="@ViewBag.MinAge" />
  <button type="submit">Submit</button>
</form>

<form method="get" action="">
  <label for="minSalary">Minimum salary:</label>
  <input type="number" id="minSalary" name="salary_min" required max="@ViewBag.MaxSalary" min="@ViewBag.MinSalary" step="0.01" />

  <label for="maxSalary">Maximum salary:</label>
  <input type="number" id="maxSalary" name="salary_max" required max="@ViewBag.MaxSalary" min="@ViewBag.MinSalary" step="0.01" />
  <button type="submit">Submit</button>
</form>



</style>
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doc in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Doctor" asp-action="Detail" asp-route-id="@doc.Id"> @doc.FirstName</a> 
                        <td>@doc.LastName</td>
                        <td>@doc.Age</td>
                        <td>@doc.Salary €</td>
                    </td>
                </tr>
            }
        </tbody>
    </table>


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
