@using System.Web
@model IEnumerable<Patient>

<h1>Patients</h1>

<div class="row">
  <div class="col-md-4">
    <a href="/Patient?filter_by_room=true">Filter by room</a>
    <a href="/Patient?filter_by_doc=true">Filter by doctor</a>
    <a href="/Patient?filter_by_address=true">Filter by address</a>
  </div>
  <div class="col-md-4">
    <a href="/Patient?show_address=true">Show addresses</a>
    <a href="/Patient">Hide addresses</a>
  </div>
  <div class="col-md-4">
    <a href="/Patient">Remove filters</a>
  </div>
</div>


<form method="get" action="" >
  <label for="minAge">Minimum age:</label>
  <input type="number" id="minAge" name="younger_than" required max= "100" required min = "18">

  <label for="maxAge">Maximum age:</label>
  <input type="number" id="maxAge" name="older_than" required max= "100" required min="18">

  <button type="submit">Submit</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Entry Date</th>
            <th>Exit Date</th>
            <th>Room</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.FirstName</td>
                <td>@p.LastName</td>
                <td>@p.Age</td>
                <td>@p.EntryDate.ToShortDateString()</td>
                <td>@p.ExitDate.ToShortDateString()</td>
                <td>@p.Room.RoomName</td>
                <td>@p.Address.Name</td>
            </tr>
        }
    </tbody>
</table>
