@model IEnumerable<Employee>


<h1>
    Employees
</h1>

<form method="get" action="" >
  <label for="minAge">Minimum age:</label>
  <input type="number" id="minAge" name="younger_than" required max= "100" required min = "18">

  <label for="maxAge">Maximum age:</label>
  <input type="number" id="maxAge" name="older_than" required max= "100" required min="18">

  <button type="submit">Submit</button>
</form>

<form method="get" action="" >
  <label for="minSalary">Minimum Salary:</label>
  <input type="number" id="minSalary" name="salary_min" required max= "1000000" required min = "10000">

  <label for="maxSalary">Maximum salary:</label>
  <input type="number" id="maxSalary" name="salary_max" required max= "1000000" required min="10000">

  <button type="submit">Submit</button>
</form>

</style>
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Salary</th>
                <th>Job Title</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in Model)
            {
                <tr>

                    <td>@if (emp is Doctor)
                        {
                        <a asp-controller="Doctor" asp-action="Detail" asp-route-id="@emp.Id"> @emp.FirstName</a> 
                        }
                        @if (emp is Nurse)
                        {
                        <a asp-controller="Nurse" asp-action="Detail" asp-route-id="@emp.Id"> @emp.FirstName</a> 
                        }
                    </td>
                    <td>@emp.LastName</td>
                    <td>@emp.Age</td>
                    <td>@emp.Salary €</td>
                    <td>@if (emp is Doctor)
                        {
                            <p>@nameof(Doctor)</p>
                        }
                        @if (emp is Nurse)
                        {
                            <p>@nameof(Nurse)</p>
                        }
                    <td>
                </tr>
            }
        </tbody>
    </table>


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
